<!DOCTYPE html>
<html lang="en">

<head>
  {{>"partials/header.hbs"}}
  <title>{{ pageTitle }}</title>
</head>

<body>
  <script src="{{baseUrl}}/fire.app/{{fireappVersion}}/dist/index.js"></script>
  {{>"partials/scripts.hbs"}}
  <div id="app"></div>
</body>

</html>