<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,900&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>body {margin: 0; padding: 0;}</style>
    <title>{{title}}</title>
</head>
<body>
    <div id="{{appRootId}}"></div>
    <script src="{{scriptUrl}}"></script>
</body>
</html>