<script>
    fireapp({
        apps: {{{ toJSON apps }}},
        navigations: {{{ toJSON navigations }}},
        config: {{{ toJSON config }}},
        features: {{{ toJSON features }}}
    })
</script>